.recent-posts {
  padding: 25px 0 13px 0;
  background: #edf7fa;

  @media (max-width: $md3+px) {
    padding: 25px 0 23px 0;
  }
}

.recent-posts__container {
}

.recent-posts__header {
  display: flex;
  margin: 0 0 20px 0;
}

.recent-posts__title {
  flex: 1 1 auto;
  padding: 0 20px 0 0;
}

.recent-posts__view-all {
  flex: 0 0 auto;
  font-size: 16px;
  font-weight: 23px;
  color: #00a8cc;

  @media (max-width: $md3+px) {
    display: none;
  }
}
.recent-posts__items {
  margin: 0 -10px;

  @media (min-width: $md3+px) {
    display: flex;
  }
}

.recent-posts__column {
  flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 17px 0;
}

.recent-posts__item {
}

.recent-post {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
}

.recent-post__title {
  margin: 0 0 17px 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 38 / 26 * 100%;

  a {
    display: inline-block;

    &:hover {
      color: $colorAccent;
    }
  }

  @media (max-width: $md3+px) {
    font-size: 22px;
  }
}

.recent-post__info {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 26 / 18 * 100%;

  a {
    &:hover {
      text-decoration: underline;
      color: $colorAccent;
    }
  }

  span {
    margin: 0 10px;
  }

  @media (max-width: $md3+px) {
    font-size: 16px;
  }
}

.recent-post__text {
}
